.line-container{
    background-color: #75bce6;
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line-container h1{
    font-size: 150px;
    font-weight: 800;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    width: 100%;
    text-align: center;
  
}
.line{
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top:50%;
    left:-1vw;
    transform: translateY(-50%);
    height: 3vh;
    width: 10vw;
    z-index: 2;
    animation: grow 3s linear forwards;
}
@keyframes grow{
    to{
        width: 102vw;
    }
}
